<div class="item thumbnail">
    <div class="row">
		<div class="col-md-2">
			<a href="/opportunities/<%= opportunity._id %>"><% if (opportunity.photo) { %><img src="<%= opportunity.photo+'?dim=600x600' %>" class="img-responsive"><%} else {%><img src="/assets/images/kk-cover.png?dim=600x600" class="img-responsive" /><% } %></a>
		</div>
		<div class="col-md-10">
			<h4><a href="/opportunities/<%= opportunity._id %>"><%= opportunity.title %></a></h4>
			<p><%= opportunity.description %></p>
			<ul class="list-unstyled list-inline">
				<li><strong>Reward</strong> <%= opportunity.reward %></li>
				<li><strong>Status</strong> <%= opportunity.status %></li>
				<li><strong>Solutions</strong> <%= opportunity.responses %></li>
				<li><strong>Created</strong> <%= moment(opportunity.createDate).fromNow() %></li>
			</ul>
		</div>
	</div>
</div>