<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>read.gd - the world's largest library</title>
    <meta name="description" content="The best way to publish your book">
    <meta name="keywords" content="ebook publishing, self publishing, ebook, book publishing, ebook distribution, book marketing, epub, mobi, ebook conversion, kreateve">
    <meta name="author" content="read.gd">
    <meta name="company" content="read.gd">
    <meta name="copyright" content="Copyright (c) 2018 read.gd">

    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico">

    <link rel="dns-prefetch" href="https://read.gd">

    <meta property="og:site_name" content="read.gd">
    <meta property="fb:app_id" content="{SOCIAL_FACEBOOK_APP_ID}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://read.gd">
    <meta property="twitter:site" content="@kreatevehq">

    <!-- CSS STYLES -->
    <link href="/assets/stylesheets/homepage.css" rel="stylesheet" type="text/css">
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/stylesheets/animate.css" type="text/css">
    <link href="/assets/stylesheets/site.css" type="text/css">
    <script src="/assets/components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/javascript/wow.min.js" type="text/javascript"></script>
    <script src="/assets/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/javascript/jquery.enllax.min.js" type="text/javascript"></script>

    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '//connect.facebook.net/en_US/fbevents.js');

        fbq('init', '372688092930514');
        fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=372688092930514&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <div class="header">
                        <div class="logo fl">
                            <a href="/"><img src="/assets/images/read-logo.png" height="40"></a>
                        </div>
                        <div class="nav_login fr">
                            <% if (typeof user !== "undefined") { %>
                                <a class="login" href="/dashboard">Dashboard</a>
                                <% } %>
                                    <a class="login" href="/account/login">Login</a>
                                    <a class="sign_up" href="/account/signup">Signup</a>
                        </div>
                    </div>

                    <div class="box">
                        <h1>THE WORLD'S LARGEST LIBRARY</h1>
                        <p>read.gd is a simple and intuitive platform for digital self-publishing.</p>

                        <div class="try_it_button">
                            <a href="/account/signup">TRY IT FREE</a>
                        </div>
                        <div data-enllax-type="foreground">
                            <div class="parallax parallax1" data-enllax-ratio=".2" data-enllax-type="foreground"><img src="/assets/images/img-1.png" alt=""></div>
                            <div class="parallax parallax2" data-enllax-ratio=".2" data-enllax-type="foreground"><img src="/assets/images/img-2.png" alt=""></div>
                            <div class="parallax parallax3" data-enllax-ratio=".3" data-enllax-type="foreground"><img src="/assets/images/img-3.png" alt=""></div>
                            <div class="parallax parallax4" data-enllax-ratio=".2" data-enllax-type="foreground"><img src="/assets/images/img-4.png" alt=""></div>
                            <div class="parallax parallax5" data-enllax-ratio=".3" data-enllax-type="foreground"><img src="/assets/images/img-5.png" alt=""></div>
                            <div class="parallax parallax6" data-enllax-ratio=".3" data-enllax-type="foreground"><img src="/assets/images/img-6.png" alt=""></div>
                            <div class="parallax parallax7" data-enllax-ratio=".15" data-enllax-type="foreground"><img src="/assets/images/img-7.png" alt=""></div>
                            <div class="parallax parallax8" data-enllax-ratio=".1" data-enllax-type="foreground"><img src="/assets/images/img-8.png" alt=""></div>
                        </div>
                    </div>

                </header>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="container">

        <div class="box_part_second">
            <div data-enllax-ratio=".2" data-enllax-type="foreground">
                <br>
                <h1 data-enllax-ratio=".1" data-enllax-type="foreground">reag.gd simplifies the publishing process to 2 easy-to-follow steps:</h1>
                <div class="clearfix"></div>

                <div class="col-md-1"></div>
                <div class=" col-md-5">
                    <!--<div data-enllax-ratio=".1" data-enllax-type="foreground">
                        <div class="span3 wow bounceInLeft animated" style="visibility: visible; animation-name: bounceInLeft;">
                            <div id="box_part_second_l">
                                <div class="fl "><img src="/assets/images/sign_up_icon.png" alt=""></div>
                                <div class="fl box_part_second_l_text">
                                    <h2>Signup</h2>
                                    <div class="border_bottom"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="fl box_part_second_l_text1">
                                    <p>The first step to reaching your dream. Once you're done your experience will be tailored to fit your user type.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="margin_top2"></div>-->
                    <div data-enllax-ratio=".1" data-enllax-type="foreground">
                        <div class="span3 wow bounceInLeft animated" style="visibility: visible; animation-name: bounceInLeft;" data-wow-delay="1.5s">
                            <div id="box_part_second_l">
                                <div class="fl " style="width:31px;"><img src="/assets/images/create_book_icon.png" alt=""></div>
                                <div class="fl box_part_second_l_text">
                                    <h2>Create your Book</h2>
                                    <div class="border_bottom"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="fl box_part_second_l_text1">
                                    <p>The Editor experience is very simple. Write your book and preview it as you go, to make sure everything meets your expectations</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin_top"></div>
                <div class=" col-md-5">
                    <!--<div data-enllax-ratio=".1" data-enllax-type="foreground">
                        <div class="span3 wow bounceInRight animated" style="visibility: visible; animation-name: bounceInRight;" data-wow-delay="1s">
                            <div id="box_part_second_l">
                                <div class="fl "><img src="/assets/images/Build_Crew_icon.png" alt=""></div>
                                <div class="fl box_part_second_l_text">
                                    <h2>Build your Crew</h2>
                                    <div class="border_bottom"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="fl box_part_second_l_text1">
                                    <p>Whether you need the help of an editor, designer, or publicist. We streamline the process of finding help to fit your needs.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="margin_top2"></div>-->

                    <div data-enllax-ratio=".1" data-enllax-type="foreground">
                        <div class="span3 wow bounceInRight animated" style="visibility: visible; animation-name: bounceInRight;" data-wow-delay="2s">
                            <div id="box_part_second_l">
                                <div class="fl " style="width:38px;"><img src="/assets/images/Publishing_icon.png" alt=""></div>
                                <div class="fl box_part_second_l_text">
                                    <h2>Publishing</h2>
                                    <div class="border_bottom"></div>
                                </div>
                                <div class="fl box_part_second_l_text1">
                                    <p>Once you're done writing, editing, and designing your masterpiece, publish it directly to our Marketplace to start selling immediately.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container" style="z-index:3; position:relative; overflow:hidden;">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 ofset1 padding_right">

                <div class="ofset1" style="height:666px;">
                    <div class="ofset1_header">
                        <h3 style="text-align:center;"><img src="/assets/images/my_book.jpg" alt=""></h3>
                        <br>
                        <br>
                        <div class="placeholder">
                            <h4 class="fl">Sort By: <span>Title</span></h4>

                            <ul class="load fl">
                                <li>
                                    <a href="#">
                                        < </a>
                                </li>
                                <li><a href="#"> 1 </a></li>
                                <li><a href="#"> 2 </a></li>
                                <li><a href="#"> .. </a></li>
                                <li><a href="#"> 10 </a></li>
                                <li><a href="#"> 20 </a></li>
                                <li><a href="#"> > </a></li>
                            </ul>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <br>
                    <div class="my_book" data-enllax-ratio=".6" data-enllax-type="foreground" style="z-index:-1;">
                        <ul>
                            <li class="span3 wow bounceInLeft animated" data-wow-delay="0.7s" style="visibility: visible; animation-name: bounceInLeft;">
                                <a href="#"><img src="/assets/images/creat_new_book.jpg" alt=""></a>
                            </li>
                            <li class="span3 wow bounceInLeft animated" data-wow-delay="0.5s" style="visibility: visible; animation-name: bounceInLeft;">
                                <a href="#"><img src="/assets/images/pride.jpg" alt=""></a>
                            </li>
                        </ul>
                        <ul>
                            <li class="span3 wow bounceInLeft animated" data-wow-delay="0.3s" style="visibility: visible;  animation-name: bounceInLeft;">
                                <a href="#"><img src="/assets/images/iam_son.jpg" alt=""></a>
                            </li>
                            <li class="span3 wow bounceInLeft animated" data-wow-delay="0.1s" style="visibility: visible; 0.5s; animation-name: bounceInLeft;">
                                <a href="#"><img src="/assets/images/meta_mor.jpg" alt=""></a>
                            </li>
                        </ul>
                        <ul>
                            <li class="span3 wow bounceInLeft animated" data-wow-delay="1.8s" style="visibility: visible;  animation-name: bounceInLeft;">
                                <a href="#"><img src="/assets/images/moby_dick.jpg" alt=""></a>
                            </li>
                            <li class="span3 wow bounceInLeft animated" data-wow-delay="0.6s" style="visibility: visible;  animation-name: bounceInLeft;">
                                <a href="#"><img src="/assets/images/amn.jpg" alt=""></a>
                            </li>
                        </ul>
                        <ul>
                            <li class="span3 wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible;  animation-name: bounceInLeft;">
                                <a href="#"><img src="/assets/images/scarlet.jpg" alt=""></a>
                            </li>
                            <li class="span3 wow bounceInLeft animated" data-wow-delay="0.2s" style="visibility: visible;  animation-name: bounceInLeft;">
                                <a href="#"><img src="/assets/images/george_orwell.jpg" alt=""></a>
                            </li>
                        </ul>
                        <ul>
                            <li class="span3 wow bounceInLeft animated" data-wow-delay="1s" style="visibility: visible;  animation-name: bounceInLeft;">
                                <a href="#"><img src="/assets/images/stone_soup.jpg" alt=""></a>
                            </li>
                            <li class="span3 wow bounceInLeft animated" data-wow-delay="0.8s" style="visibility: visible; animation-name: bounceInLeft;">
                                <a href="#"><img src="/assets/images/call_of_the.jpg" alt=""></a>
                            </li>
                        </ul>
                        <ul>
                            <li class="span3 wow bounceInLeft animated" data-wow-delay="0.6s" style="visibility: visible;  animation-name: bounceInLeft;">
                                <a href="#"><img src="/assets/images/frankenstein.jpg" alt=""></a>
                            </li>
                            <li class="span3 wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible;  animation-name: bounceInLeft;">
                                <a href="#"><img src="/assets/images/diamonds.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 padding_left">

                <div class="ofset">
                    <div class="span3 wow bounceInRight animated ofset2" style="visibility: visible; animation-name: bounceInRight;">
                        <h1>Features</h1>
                        <h3>Dashboard</h3>
                        <P>This is your portal to all parts of our platform. We provide you with real-time reader stats, marketplace stats, etc. You are able to see your projects status, who else is working on the project with you and much more.</P>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="container" style="z-index:3; position:relative; overflow:hidden;">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 padding_right bg_withe" style="position:relative; z-index:99">

                <div class="ofset ofset3">
                    <div class="span3 wow bounceInLeft animated ofset2" style="visibility: visible; animation-name: bounceInleft;">

                        <h3>Editing Interface</h3>
                        <div class="clearfix"></div>
                        <P>This is your portal to all parts of our platform. This is the heart of our platform. You have all you need to create your project and format it just the way you like.</P>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 ofset4 padding_left" style=" height:666px;">

                <div class="ofset4" data-enllax-ratio="-0.35" data-enllax-type="foreground">

                    <div class="my_book1" data-enllax-ratio="1.8" data-enllax-type="foreground">
                        <h3 class="span3 wow bounceInRight animated" data-wow-delay="0.5s" style="visibility: visible; animation-name: bounceInRight; text-align:center;">
     <div class="moby_dick_img">
     <img src="/assets/images/moby_dick1.jpg" alt="">
     </div>
     </h3>
                        <ul>
                            <li><a href="#">Chapter 1</a></li>
                            <li><a href="#">Chapter 2</a></li>
                            <li><a href="#">Chapter 3</a></li>
                            <li><a href="#">Chapter 4</a></li>
                            <li><a href="#">Chapter 5</a></li>
                            <li><a href="#">Chapter 6</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
    <div class="clearfix"></div>
    <div class="container" style="background:#FFF; z-index:3; position:relative;">
        <div class="row">
            <div class="col-md-12">
                <div class="published">
                    <br>
                    <h1 class="text-center span3 wow bounceInDown center animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInDown;">
     <span> Recently published items</span></h1>
                    <br>
                    <br>
                    <%
		var count = 0;
		list.forEach(function(book){
		count++;
		%>

                        <div class="col-md-3 item">
                            <a href="/marketplace/<%- book._id %>">
                                <% var projectText;
			if(book.projectId.type === "book" || book.projectId.type === "written") {
				projectText = "Book";
			} else if(book.projectId.type === "shortstory") {
				projectText = "Short Story";
			} else if(book.projectId.type === "magazine") {
				projectText = "Magazine";
			} else if(book.projectId.type === "playwright") {
				projectText = "Playwright";
			} else if(book.projectId.type === "research") {
				projectText = "Research Paper";
			} else if(book.projectId.type === "screenplay") {
				projectText = "Screenplay";
			} %>

                                    <span style="position: absolute; top: 1px; right: 40px; background: #fff; padding: 5px 10px;"><%= projectText %></span>
                                    <% if (book.coverPhoto == null) { %>
                                        <img src="/assets/images/kk-cover.png?dim=600x600" class="img-responsive" />
                                        <% } else { %>
                                            <img src="<%= book.coverPhoto+'?dim=600x600' %>" class="img-responsive" />
                                            <% } %>
                            </a>
                            <h4><a href="/marketplace/<%- book._id %>"><%- book.name %></a></h4>
                            <!--<p><%- book.description %></p>-->
                            <p class="author">
                                <a href="/profile/<%= book.createdBy.id %>">
                                    <%- book.createdBy.name %>
                                </a>
                            </p>
                        </div>
                        <%if (count % 4 === 0) { %>
                            <div class="clearfix visible-md visible-lg"></div>
                            <% } %>
                                <%});%>

                                    <!--<ul>

     <li class="span3 wow bounceInLeft " style="visibility: visible;"  data-wow-delay="0.8s"><a href="#"><img src="/assets/images/stone_soup1.jpg" alt=""></a><h6><a href="#">Nam lobortis velit</a> </h6></li>
     <li class="span3 wow bounceInLeft " style="visibility: visible;"  data-wow-delay="0.5s"><a href="#"><img src="/assets/images/call_of_the1.jpg" alt=""></a><h6><a href="#">Aliquam Tincidunt Purus</a> </h6></li>

     <li class="span3 wow bounceInRight  margin_top1" style="visibility: visible;" data-wow-delay="0.5s" ><a href="#"><img src="/assets/images/frankenstein1.jpg" alt=""></a><h6><a href="#">Curabitur Maximus Fermentum</a> </h6></li>
     <li class="span3 wow bounceInRight " style="visibility: visible;" data-wow-delay="0.8s" ><a href="#"><img src="/assets/images/diamonds1.jpg" alt=""></a><h6><a href="#"> Donec massa metus</a> </h6></li>

     </ul>-->

                                    <div class="clearfix"></div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>

                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="withe_bg1">
        <div class="container" style="background:#FFF; z-index:3; position:relative;">

            <div class="box_part_second1">
                <br>
                <br>
                <div>

                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div>
                            <div class="span3 wow bounceInLeft animated" style="visibility: visible; animation-name: bounceInLeft;">
                                <div id="box_part_second_l">
                                    <div class="fl "><img src="/assets/images/marketplace.png" alt=""></div>
                                    <div class="fl box_part_second_l_text">
                                        <h2>Marketplace</h2>
                                        <div class="border_bottom"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="fl box_part_second_l_text1">
                                        <p>You are in complete control of your pricing, branding, and keep 90% (10% is our fee) of every sale.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="margin_top"></div>
                    <!--<div class=" col-md-5">
                        <div>
                            <div class="span3 wow bounceInRight animated" style="visibility: visible; animation-name: bounceInRight;" data-wow-delay="1s">
                                <div id="box_part_second_l">
                                    <div class="fl "><img src="/assets/images/services.png" alt=""></div>
                                    <div class="fl box_part_second_l_text">
                                        <h2>Services</h2>
                                        <div class="border_bottom"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="fl box_part_second_l_text1">
                                        <p style="margin-left:27px;">Here you can find a list of all the service providers available, categorized by their type of service. Users can filter through, view, and contact service providers according to their type of service, location, experience, ratings, and prices.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>-->

                </div>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">

        <div class="footer_bg">
            <div class="footer">
                <h1><span>Welcome to read.gd.You can only find out how awesome this is by giving it a try!</span></h1>
                <div class="clearfix"></div>
                <p class="text-center">

                    <a class="join_kreateve" href="/account/signup">Join Kreateve</a>
                    <a class="login_f" href="/account/login">Login</a>
                </p>
                <div class="clearfix"></div>
                <br>
                <br>
                <br>
                <br>
                <h6>
<div class="fl footer_img"><img src="/assets/images/tree.png" alt=""> </div>
<div class="fl"><p>At read.gd, we make sure to do our part in contributing to sustainable future. When you purchase a digital book, <strong>we plant one tree</strong>. When you purchase a physical book, <strong>we plant three of them!</strong></p></div>
</h6>
                <div class="clearfix"></div>
                <br>
                <div class="footer_bottom_bg">
                    <div class="fl footer_bottom">
                        <p id="copyright" class="pull-left">a GARAKAMI company.</p>
                    </div>
                    <div class="fr footer_bottom">
                        <p class="pull-right"><a href="/contact">Contact</a> &middot; <a href="http://blog.kreateve.com">Blog</a> &middot;
                            <!--<a href="/developers">Developers</a> &middot; --><a href="/terms">Terms</a> <span class="amp">&amp;</span> <a href="/privacy">Privacy</a></p>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Scripts -->

    <script>
        (function($) {

            //Plugin activation
            $(window).enllax();

            //            $('#some-id').enllax();

            //            $('selector').enllax({
            //                type: 'background', // 'foreground'
            //                ratio: 0.5
            //            });

        })(jQuery);
    </script>

    <script>
        new WOW().init();
    </script>

    <script>
        wow = new WOW({
            animateClass: 'animated',
            offset: 100,
            callback: function(box) {
                console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
            }
        });
        wow.init();
        document.getElementById('moar').onclick = function() {
            var section = document.createElement('section');
            section.className = 'section--purple wow fadeInDown';
            this.parentNode.insertBefore(section, this);
        };
    </script>

</body>

</html>