<% include ../partials/header.html.ejs %>


<div id="content" class="container">


		<div class="col-md-6 col-md-offset-3">

			<div style="color:red; ">
				<% if ( locals.message) {%><%=message%>
				<!--<a href='/account/forgot' class="btn btn-link">Retrieve Your Password by Email</a>-->

				<%}%>
			</div>
            
            <div class="row">
            	<div class="col-md-12 col-sm-12 col-xs-12"><h2>Signup</h2></div>
			</div>
            <hr>

            <form method="post" id="signup">

                <div class="form-group">
					<label for="password" class="">Account Type</label>
                    <div class="row">
	                    <div class="col-md-6">
	                    	<div class="radio">
							  <label>
							    <input type="radio" name="usertype" id="author" value="author" checked>
							    Author
							  </label>
							</div>
	                    </div>

	                    <!--
	                    <div class="col-md-4">
	                    	<div class="radio">
							  <label>
							    <input type="radio" name="usertype" id="editor" value="editor">
							    Editor
							  </label>
							</div>
							<div class="radio">
							  <label>
							    <input type="radio" name="usertype" id="designer" value="designer">
							    Designer
							  </label>
							</div>
							<div class="radio">
							  <label>
							    <input type="radio" name="usertype" id="publicist" value="publicist">
							    Publicist
							  </label>
							</div>

	                    </div>
	                    -->

	                    <div class="col-md-6">

							<div class="radio">
							  <label>
							    <input type="radio" name="usertype" id="reader" value="reader">
							    Reader
							  </label>
							</div>
	                    </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="firstname" class="">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="">
                </div>

                <div class="form-group">
                    <label for="lastname" class="">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="">
                </div>

                <div class="form-group">
                    <label for="country" class="">Country</label>
					<select name="country" id="country" class="form-control" value="<%=geoCountry%>">
						<option value="" selected="selected">Select Country</option>
						<% for(var i=0; i<countries.length; i++) {%>

								<option value="<%= countries[i].alpha2%>" <%=countries[i].alpha2==geoCountry ? 'selected' : ''%> ><%= countries[i].name%></option>

						<% } %>

					</select>
                </div>

                <div class="form-group">
                    <label for="email" class="">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="">
                </div>

                <div class="form-group">
                    <label for="password" class="">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="">
                </div>

                <div class="form-group">
                    <label for="password" class="">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="">
                </div>



                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <p><a href="/account/login" class="btn btn-link">Login</a></p>
                        </div>

                        <div class="col-sm-6">
                            <input type="submit" class="btn btn-primary form-control" value="Get Started">
                        </div>
                    </div>
                </div>
            </form><br>
        </div>
    </div><!-- container -->
<% include ../partials/footer-menu.html.ejs %>

    <script src="/assets/javascript/formValidation.min.js" type="text/javascript"></script>
    <script src="/assets/javascript/bootstrap.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		fbq('track', 'Lead');
		var onAddressRemove = '';
		$(function(){

			$('#signup').formValidation({
		        framework: 'bootstrap',
		        icon: {
		            valid: 'glyphicon glyphicon-ok',
		            invalid: 'glyphicon glyphicon-remove',
		            validating: 'glyphicon glyphicon-refresh'
		        },
		        fields: {
		            firstname: {
		                validators: {
		                    notEmpty: {
		                        message: 'A first name is required'
		                    },
		                    stringLength: {
		                        min: 3,
		                        max: 100,
		                        message: 'The firstn name must be more than 10 and less than 100 characters long'
		                    }
		                }
		            },
		            lastname: {
		                validators: {
		                    notEmpty: {
		                        message: 'A last name is required'
		                    },
		                    stringLength: {
		                        min: 3,
		                        max: 100,
		                        message: 'The last name must be more than 10 and less than 100 characters long'
		                    }
		                }
		            },
		            email:{
			            validators: {
				            notEmpty: {
					            message:'An email address is required'
					        },
				            emailAddress: {
					            message:'This is not a valid email address'
					        }
					    }
					},
					password: {
	                    validators: {
	                        notEmpty: {
	                            message: 'The password is required and cannot be empty'
	                        }/*,
	                        regexp: {
		                        regexp: /^(?=[^\d_].*?\d)\w(\w|[!@#$%]){6,20}/,
		                        message: 'Password must contain at least one letter, at least one number, and be longer than six charaters.'
		                    }*/
	                    }
	                },
	                confirmpassword: {
	                    validators: {
	                        notEmpty: {
	                            message: 'The confirm password is required and cannot be empty'
	                        },
	                        identical: {
	                            field: 'password',
	                            message: 'The password and its confirm must be the same'
	                        }
	                    }
	                }
		        }
		    });

	    });
    </script>

<% include ../partials/footer.html.ejs %>
