<% include ../partials/header.html.ejs %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<div id="content" class="container">

	<h1>Checkout</h1>
	<hr class="divider">

		<form action="" method="POST" id="payment-form">
			<div class="row">

				<div id="" class="col-md-6" style="background-image: url();">
					<input type="hidden" id="stripe-publishable-key" value="<%= stripePublishableKey %>">
					<div class="list-group">
					<%
				    var total = 0;
				    if (userCart) {
					  userCart.forEach(function(item){ %>
						    <a href="/marketplace/<%= item.id %>" class="list-group-item">
							    <h4 class="list-group-item-heading"><%= item.name %></h4>
							    <p class="list-group-item-text">$<%= item.price %></p>
							    <span class="glyphicon glyphicon-remove-circle addr-remove" onclick=""></span>
							</a>
					<% total += item.price });
					} else { %>
						 <p>'Your cart is empty'</p>
					<% } %>
					</div>
					<h3>Total: <span class="text-primary">$<%= total %></span></h3>
					<input name="total" type="hidden" value="<%= total %>" />
				</div>

				<div class="col-md-6">

					<span class="payment-errors"></span>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control" size="" data-stripe="name" placeholder="Name" value="" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Card Number</label>
								<input type="text" class="form-control" size="20" data-stripe="number" placeholder="Card Number" value="" />
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label>CVC</label>
								<input type="text" class="form-control" size="4" data-stripe="cvc" placeholder="CVC" value="" />
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Expiration </label><br>
								<div class="row">
									<div class="col-md-5">
										<input type="text" size="2" class="form-control" data-stripe="exp-month" placeholder="MM" value=""/>
									</div>
									<div class="col-md-7">
										<input type="text" size="4" class="form-control" data-stripe="exp-year" placeholder="YYYY" value="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<br>

			<div class="row">

				<div class="col-md-4 col-md-offset-4">
					<a onclick="history.go(-1);" class="btn btn-default pull-right">Cancel</a>
				</div>

				<div class="col-md-4">
					<button type="submit" class="btn btn-primary form-control">Process Payment</button>
				</div>
			</div>
		</form>

</div><!-- container -->

<% include ../partials/footer-menu.html.ejs %>

<script>
	// This identifies your website in the createToken call below
	var stripePublishableKey = $('#stripe-publishable-key').val();
	Stripe.setPublishableKey(stripePublishableKey);

	var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };

	$('#payment-form').submit(function(event) {
	    var $form = $(this);

	    // Disable the submit button to prevent repeated clicks
	    $form.find('button').prop('disabled', true);

	    Stripe.card.createToken($form, stripeResponseHandler);

	    // Prevent the form from submitting with the default action
	    return false;
	  });
</script>

<% include ../partials/footer.html.ejs %>