<% include ../partials/header.html.ejs %>

<div id="content" class="container">

    <h1>Checkout</h1>
    <hr class="divider">

    <div class="row">

        <div class="col-md-6">
            <div class="list-group">
                <%
                var total = 0;
                if (userCart) {
                        userCart.forEach(function(item){ %>
                <a href="/marketplace/<%= item.marketplaceId%>" class="list-group-item">
                    <h4 class="list-group-item-heading"><%= item.name %></h4>
                    <p class="list-group-item-text">$<%= item.price %></p>
                    <span class="glyphicon glyphicon-remove-circle addr-remove" onclick=""></span>
                </a>
                <% total += item.price });
                } else { %>
                <p>'Your cart is empty'</p>
                <% } %>
            </div>
            <h3>Total: <span class="text-primary">$<%= total %></span></h3>
            <input name="total" type="hidden" value="<%= total %>" />
        </div>

        <div class="col-md-6">
            <%
                user.stripe.cards.forEach(function(card) { %>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="/marketplace/checkoutusingexistingcard/<%= card.id %>/<%= total %>">****-****-****-<%= card.last4 %></a>
                        </div>
                    </div>
                <%
                });
            %>
            <div class="row">
                <div class="col-sm-12">
                    <a href="/marketplace/checkout">Add New Card...</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- container -->

<% include ../partials/footer-menu.html.ejs %>
<% include ../partials/footer.html.ejs %>