<% include ../partials/header.html.ejs %>

<div id="content" class="container-fluid marketplace">
	<div class="col-md-12">

		<div class="row">

			<div id="sidebar" class="col-md-2">

				<!--<h4>Categories</h4>-->
				<ul class="list-unstyled">
					<li><input type="text" name="search" class="form-control" placeholder="Search Marketplace" /></li>
					<li><hr class="divider"></li>
					<li><a href="">Books</a></li>
					<li><a href="">Short Stories</a></li>

				</ul>

			</div>


			<div class="col-md-10">

				<!--<h1>Problems</h1>-->

				<!--<h3 class="section">Latest in Books <a href=""><small>More <span class="glyphicon glyphicon-chevron-right"></span></small></a></h3>-->
				<div id="books" class="row">

					<%
					var count = 0;
					list.forEach(function(book){
					count++;
					%>

					<div class="col-md-3 item">
						<a href="/marketplace/<%- book._id %>">
						<% var projectText;
						if(book.projectId.type === "book" || book.projectId.type === "written") {
							projectText = "Book";
						} else if(book.projectId.type === "shortstory") {
							projectText = "Short Story";
						} else if(book.projectId.type === "magazine") {
							projectText = "Magazine";
						} else if(book.projectId.type === "playwright") {
							projectText = "Playwright";
						} else if(book.projectId.type === "research") {
							projectText = "Research Paper";
						} else if(book.projectId.type === "screenplay") {
							projectText = "Screenplay";
						} %>

						<span style="position: absolute; top: 1px; right: 40px; background: #fff; padding: 5px 10px;" ><%= projectText %></span>
							<% if (book.coverPhoto == null) { %>
								<img src="/assets/images/kk-cover.png?dim=600x600" class="img-responsive" />
							<% } else { %>
								<img src="<%= book.coverPhoto+'?dim=600x600' %>" class="img-responsive" />
							<% } %>
						</a>
						<h4><a href="/marketplace/<%- book._id %>"><%- book.name %></a></h4>
						<!--<p><%- book.description %></p>-->
						<% if (book.author) { %>
							<p class="author"><%- book.author %></p>
						<% } else { %>
							<p class="author"><a href="/profile/<%= book.createdBy.id %>"><%- book.createdBy.name %></a></p>
						<% } %>
					</div>
					<%if (count % 4 === 0) { %>
						<div class="clearfix visible-md visible-lg"></div>
					<% } %>
					<%});%>


				</div>

				<% /* %>
				<hr class="divider">

				<h3 class="section">Latest in Inventions <a href=""><small>More <span class="glyphicon glyphicon-chevron-right"></span></small></a></h3>
				<div id="books" class="row">

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

				</div>


				<hr class="divider">

				<h3 class="section">Latest in Magazines <a href=""><small>More <span class="glyphicon glyphicon-chevron-right"></span></small></a></h3>
				<div id="books" class="row">

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

				</div>


				<hr class="divider">

				<h3 class="section">Latest in Playwrights <a href=""><small>More <span class="glyphicon glyphicon-chevron-right"></span></small></a></h3>
				<div id="books" class="row">

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

				</div>


				<hr class="divider">

				<h3 class="section">Latest in Research <a href=""><small>More <span class="glyphicon glyphicon-chevron-right"></span></small></a></h3>
				<div id="books" class="row">

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

				</div>


				<hr class="divider">

				<h3 class="section">Latest in Screenplays <a href=""><small>More <span class="glyphicon glyphicon-chevron-right"></span></small></a></h3>
				<div id="books" class="row">

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

				</div>


				<hr class="divider">

				<h3 class="section">Latest in Textbooks <a href=""><small>More <span class="glyphicon glyphicon-chevron-right"></span></small></a></h3>
				<div id="books" class="row">

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

					<div class="col-md-2 item">
						<img src="/assets/images/kk-cover.png" class="img-responsive" />
						<h4><a href="">Unusable roadways in cities and highways</a></h4>
						<p>Subtle protrusions of intravenous nails, a moth...</p>
						<p class="author">Ernest Hemingway</p>
					</div>

				</div>

				<ul class="list-unstyled problems">
					<li class="clearfix">
						<div class="col-md-2 item">
							<img src="/assets/images/kk-cover.png" class="img-responsive" />
						</div>

						<div class="col-md-10">
							<h2><a href="">Unusable roadways in cities and highways</a></h2>
							<p>Subtle protrusions of intravenous nails, a moth nesting in the cavity of an inner wall, peas sprouting from the heart, a breast implant sitting against the soft tissue, and battery caps bouncing off a lung are some visual oddities found in Vesna Jovanovic?s ?Foreign Bodies? project.</p>
							<ul class="list-unstyled list-inline">
								<li><strong>Status</strong> Closed</li>
								<li><strong>Solutions</strong> 4</li>
								<li><strong>Created</strong> January 25th, 2014</li>
							</ul>
						</div>
					</li>
					<li>
						<h2><a href="removal-of-physical-limitation-to-true-artificial-photosynthesis.html">Removal of physical limitation to true artificial photosynthesis</a></h2>
						<p>Subtle protrusions of intravenous nails, a moth nesting in the cavity of an inner wall, peas sprouting from the heart, a breast implant sitting against the soft tissue, and battery caps bouncing off a lung are some visual oddities found in Vesna Jovanovic?s ?Foreign Bodies? project.</p>
						<ul class="list-unstyled list-inline">
							<li><strong>Status</strong> Open</li>
							<li><strong>Solutions</strong> 2</li>
							<li><strong>Created</strong> March 25th, 2014</li>
						</ul>
					</li>

					<li>
						<h2><a href="">Structurally high unemployment/underemployment</a></h2>
						<p>Subtle protrusions of intravenous nails, a moth nesting in the cavity of an inner wall, peas sprouting from the heart, a breast implant sitting against the soft tissue, and battery caps bouncing off a lung are some visual oddities found in Vesna Jovanovic?s ?Foreign Bodies? project.</p>
						<ul class="list-unstyled list-inline">
							<li><strong>Status</strong> Open</li>
							<li><strong>Solutions</strong> 0</li>
							<li><strong>Created</strong> March 25th, 2014</li>
						</ul>
					</li>

					<li>
						<h2><a href="">Greater incidence of extreme weather events (e.g. floods, storms, fires)</a></h2>
						<p>Subtle protrusions of intravenous nails, a moth nesting in the cavity of an inner wall, peas sprouting from the heart, a breast implant sitting against the soft tissue, and battery caps bouncing off a lung are some visual oddities found in Vesna Jovanovic?s ?Foreign Bodies? project.</p>
						<ul class="list-unstyled list-inline">
							<li><strong>Status</strong> Open</li>
							<li><strong>Solutions</strong> 0</li>
							<li><strong>Created</strong> March 25th, 2014</li>
						</ul>
					</li>

					<li>
						<h2><a href="">Communication channels in event the internet goes down</a></h2>
						<p>Subtle protrusions of intravenous nails, a moth nesting in the cavity of an inner wall, peas sprouting from the heart, a breast implant sitting against the soft tissue, and battery caps bouncing off a lung are some visual oddities found in Vesna Jovanovic?s ?Foreign Bodies? project.</p>
						<ul class="list-unstyled list-inline">
							<li><strong>Status</strong> Open</li>
							<li><strong>Solutions</strong> 0</li>
							<li><strong>Created</strong> March 25th, 2014</li>
						</ul>
					</li>

				</ul>
				<% */ %>


			</div>

		</div>

	</div>
</div><!-- container -->

<% include ../partials/footer-menu.html.ejs %>
<% include ../partials/footer.html.ejs %>